@model Restaurant
@{
    ViewBag.Title = Model.name;
}
<h2>@Model.name</h2>
<div>
    @Model.id;

    Cusine is @Model.Cusine;
</div>
<div>Details...... </div>

<a asp-action="Index">Return to index</a>

