<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title dfdsfdsf</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
       
        <vc:greeter></vc:greeter>
    </footer>
</body>
</html>
